.mapboxgl-ctrl-geocoder--input:focus,
.mapboxgl-ctrl-geocoder--input::placeholder {
    color: #8A4852;
}

.mapboxgl-ctrl-geocoder {
    font-size: 16px;
    height: 30px;
    line-height: 24px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    min-width: 200px;
    transition: width .25s, min-width .25s;
    border-radius: 9999px;
}

.mapboxgl-ctrl-geocoder--input {
    font: inherit;
    width: 100%;
    background-color: white;
    height: 30px;
    color: #8A4852;
    padding: 3px 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 9999px;
}



.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute;
    top: 4px;
    left: 12px;
    width: 23px;
    height: 23px;
    display: none
}

.mapboxgl-ctrl-geocoder--button {
    border-radius: 9999px;
    width: 23px;
    height: 23px;
    bottom: 3px;
    top: 0px;
    background: transparent
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right>* {
    position: absolute;
    right: 8px;
    top: -3px;
    display: none;
    background: transparent
}


.mapboxgl-ctrl-geocoder--icon {
    fill: #8A4852
}

.mapboxgl-ctrl-geocoder .suggestions,
.mapboxgl-ctrl-geocoder .active {
    font-size: 13px;
    color: #8A4852;

}

.mapboxgl-ctrl-geocoder--suggestion-title,
.mapboxgl-ctrl-geocoder--suggestion-address {
    color: #8A4852;
    font-size: 13px;
}

.suggestions-wrapper .mapboxgl-ctrl-geocoder--suggestion {
    font-size: 13px;
    /* Ajustez la valeur selon vos besoins */
}

.mapboxgl-ctrl-geocoder--suggestion {
    display: flex;
    justify-content: space-between;

}

.mapboxgl-ctrl-geocoder--powered-by {
    display: none !important
}