.mapboxgl-ctrl-geocoder--input:focus,
.mapboxgl-ctrl-geocoder--input::placeholder {
  color: gray;
}

.mapboxgl-ctrl-geocoder--input:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) #8a4852;
}

.mapboxgl-ctrl-geocoder {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
  position: relative;
  background-color: #fff;
  width: 100%;
  padding: 2.5px;
  z-index: 1;
  border-radius: 4px;
  transition: width 0.25s, min-width 0.25s;
  max-width: 100%;
}

.mapboxgl-ctrl-geocoder--input {
  font-size: 16px;
  width: 100%;
  background-color: white;
  height: 30px;
  color: #8a4852;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0.5rem;
  max-width: 100%;
}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 4px;
  left: 12px;
  width: 23px;
  height: 23px;
  display: none;
}

.mapboxgl-ctrl-geocoder--button {
  border-radius: 0.5rem;
  width: 23px;
  height: 23px;
  bottom: 3px;
  top: 8px;

}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right>* {
  position: absolute;
  right: 8px;
  top: 4px;
  background: transparent;
}

.mapboxgl-ctrl-geocoder--icon {
  fill: #8a4852;
}

.mapboxgl-ctrl-geocoder .suggestions,
.mapboxgl-ctrl-geocoder .active {
  font-size: 16px;
  color: #8a4852;
}

.mapboxgl-ctrl-geocoder--suggestion-title,
.mapboxgl-ctrl-geocoder--suggestion-address {
  color: #8a4852;
  font-size: 14px;
}

.suggestions-wrapper .mapboxgl-ctrl-geocoder--suggestion {
  font-size: 14px;
}

@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder--icon-close {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 0;
  }

  .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right>* {
    top: 0px;
  }
}